.gray_p {
  font-weight: 500;
  letter-spacing: -0.01em;
  color: #b5b7c0;
}
.titles {
  display: flex;
  justify-content: space-around;
}
h1 {
  padding-left: 80px;
  margin-bottom: 68px;
  font-weight: 600;
}
li {
  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #292d32;
  padding-bottom: 25px;
  /* border-bottom: 1px;
  border-color: gray; */
}
/* li::after{
    content: "";
    border-bottom: 1px;
    border-color: gray;
} */
ul {
  display: flex;
  justify-content: space-around;
}
